<div class="acceuil-container">
  <!-- Recemment-consulté container -->
  <div class="recemment-consulte-container">
    <div class=" ml-2 row">
      <div class="col-lg-12 main-titre ">
        <mat-icon class="icon-acceuil">watch_later</mat-icon>
        <label class="titre-acceuil">Récemment consulté</label>
      </div>
    </div>
    <div>
      <owl-carousel
        [options]="carouselOptions"
        [items]="historique$ | async"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
        <div class="item" *ngFor="let item of historique$ | async ">
          <div class="slide-text">
            <app-matrice-card
              *ngIf="item.type === 'matrice'"
              [nomMatrice]="item.nom"
              [dateDeModification]="item.dateModification"
            ></app-matrice-card>
            <app-modele-card
              *ngIf="item.type === 'modele'"
              [nomModele]="item.nom"
              [dateDeModification]="item.dateModification"
            ></app-modele-card>
          </div>
        </div>
      </owl-carousel>
    </div>
  </div>
<!-- Modéles container -->
  <div class="modele-container">
    <div class="row ml-2">
      <div class="col-lg-12 main-titre ">
        <span class="modele-icon"></span>
        <label class="titre-acceuil">Modèles</label>
      </div>
    </div>
    <owl-carousel
      [options]="carouselOptions"
      [items]="modelesListe$ | async"
      [carouselClasses]="['owl-theme', 'row', 'sliding']"
    >
      <div class="item" *ngFor="let item of modelesListe$ | async">
        <div>
          <app-modele-card
            [nomModele]="item.nom"
            [dateDeModification]="item.dateModification"
          ></app-modele-card>
          
        </div>
      </div>
    </owl-carousel>
  </div>
<!-- Matrices container -->
  <div class="matrice-container">
    <div class="row ml-2 ">
      <div class="col-lg-12 main-titre ">
        <span class="matrice-icon"></span>
        <label class="titre-acceuil">Matrices</label>
      </div>
    </div>
    <div>
      <owl-carousel
        [options]="carouselOptions"
        [items]="matricesListe$ | async"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
        <div class="item" *ngFor="let item of matricesListe$ | async">
          <div>
            <app-matrice-card
              [nomMatrice]="item.nom"
              [dateDeModification]="item.dateModification"
            ></app-matrice-card>
          </div>
        </div>
      </owl-carousel>
    </div>
  </div>
</div>
