.card {
    width: 200px;
    height: 130px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    user-select: none;

}

.card img {
    height: 80px;
    opacity: 0.5;
}

.descreption-matrice {
    top: 240px;
    left: 49px;
    width: 198px;
    height: 50px;
    background: #003B7D 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 6px 6px;
    opacity: 1;
}

.date-modification-matrice {
    font-size: 12px;
    font-family: 'Light 12px/17px Open Sans';
    letter-spacing: 0;
    opacity: 0.7;
    width: 100%;
    height: 17px;
    margin-bottom: 6px;
    margin-left: 12px;
    color: #FFFFFF;
}

.matrice-titre {
    font-size: 13px;
    margin-bottom: 2.91px;
    margin-left: 12.91px;
    margin-top: 6.19px;
    width: 82px;
    font-weight: bold;
    height: 18px;
    font-family: 'Semibold 13px/18px Open Sans';
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.icon-menu {
    position: absolute;
    z-index: 1;
    right: 6px;
    top: 7px;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    line-height: 22px;

}

.icon-menu i {
    background: #003B7D 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    color: #FFFFFF;
    width: 100%
}

::ng-deep .mat-menu-content:not(:empty){
    padding-top: 0!important;
    padding-bottom: 0!important
}
::ng-deep .mat-menu-content{
    width:100%;
    height:131px;
}
::ng-deep .mat-menu-item{
    height:43px!important;
}
::ng-deep .cdk-mouse-focused {
    outline: transparent !important;
}
::ng-deep .mat-card-image {
    margin: 0% !important;
}