.titre-erreur {
  text-align: left;
  font-family: "Semibold 18px/24px Open Sans";
  color: rgba(199, 27, 0, 1);
  padding-top: 14px;
  margin-left: 10px;
}
.message-erreur {
  top: 391px;
  left: 414px;
  width: 100%;
  height: 19px;
  text-align: left;
  font-family: "Regular 14px/19px Open Sans";
  letter-spacing: 0;
  color: rgba(60, 60, 60, 1);
  opacity: 1;
  margin-left: 10px;
  margin-top: 9px;
}

::ng-deep .mat-dialog-container {
  /* height: 193px ; */
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.54);
  opacity: 1;
  overflow: hidden;
}

.btn-colse { 
  width: 75px; 
  background: rgba(0, 59, 125, 1) 0% 0% no-repeat padding-box;
  border-radius: 4px;
  }

@media (min-width: 576px) {
  ::ng-deep .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
    margin-top: 0px;
  }
}
.close-mdl {
  top: 23%;
  left: 66.5%;
  width: 14px;
  height: 14px;
  color: #d8d8d8;
  opacity: 1;
}
.close-mdl:focus {
  outline-color: transparent;
}
